.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;
  padding: 6px 136px;

  background: #FCFCFC;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.userInfo {
  display: flex;
  align-items: center;

  text-decoration: none;
}
.userName {
  margin-right: 12px;

  font-size: 16px;
  font-weight: 500;
  color: #000000;

  border-bottom: 1px dashed #000000;

}

.userAva {
  width: 36px;
  height: 36px;

  border-radius: 50px;
}

.link {
  text-decoration: none;
}