.profilePage {
    display: flex;
    justify-content: center;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 413px;
    height: 360px;
    margin-top: 60px;
    padding: 35px;

    font-size: 13px;
    text-align: center;

    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.profileTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}
.avatarContainer {
    display: flex;
    align-items: flex-end;


}
.name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.email {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0em;

    opacity: 0.5;

}