.titleForEmptyPack {
  margin: 55px auto 35px;

  font-family: 'Montserrat', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.wrapperForTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  color: black;
  text-decoration: none;
}