.wrapperLogin {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 413px;
  height: 456px;
  margin: 60px auto 0;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.wrapperLogin.wrapperForgotForm {
  height: 408px;
}

.title {
  position: relative;
  top: 35px;

  height: 32px;
  margin: 0 auto;

  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.form {
  padding: 87px 33px;
}

.formForgotPassword {
  padding: 0 33px;
}

.checkbox {
  margin-top: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0;
}

.navLink {
  position: relative;

  display: inline-block;

  margin-top: 30px;
  padding-left: 220px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

.form .button {
  cursor: pointer;

  display: inline-block;

  width: 100%;
  height: 36px;
  margin-top: 40px;

  background-color: #366eff;
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);

  transition: 0.3s;
}

.navLinkAccount {
  cursor: inherit;

  position: relative;

  display: inline-block;

  margin-top: 30px;
  padding-left: 55px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

.underTitle {
  display: block;

  margin-top: 10px;

  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  color: #366eff;
  text-align: center;
  text-decoration-line: underline;
}

.textDescription {
  margin-top: 22px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.img {
  display: block;

  width: auto;
  height: 108px;
  margin-top: 80px;
}
