.iconButton {
    cursor: pointer;

    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: center;*/

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #0D0C0B;
    letter-spacing: -0.01em;
}

.packName {
    font-weight: 600;
    word-wrap: break-word;
}

.container {
    margin-top: 36px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 36px;
}