.wrapper {
  composes: wrapper from '../PacksPage.module.css';
}

.wrapperButton {
  composes: wrapperButton from '../PacksPage.module.css';
}

.titleTable {
  overflow: hidden;
  display: flex;

  margin-top: 40px;

  font-family: 'Montserrat', serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  line-height: 27px;
  color: #000000;
  word-wrap: break-word;
}

.titlePack {
  overflow: hidden;
  align-self: center;

  text-overflow:ellipsis;
  word-wrap: break-word;
}

.cover {
  width: 170px;
  height: 107px;
}

.wrapperTable {
  composes: wrapperTable from '../PacksPage.module.css';
}

.wrapperForSearchComponent{
  width: 100%;
  margin-bottom: 25px;
}

.titleButton {
  composes: titleButton from '../PacksPage.module.css';
}



