.title{
    composes: profileTitle from '../profile/Profile.module.css';

    margin-top: 75px;
    margin-bottom: 20px;

    text-align: center;
    word-wrap: break-word;
}

.wrapper {
    width: 450px;
    margin:  75px auto 0;
}

.wrapperLearn {
    composes: wrapperLogin from '../auth/Login/Login.module.css';

    display: flex;
    flex-direction: column;

    height: auto;
    margin-top: 0;
}

.questionWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;


    width: 100%;
    padding-top: 30px;
    padding-right: 33px;
    padding-left: 33px ;

    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
}

.cover {
    width: 100%;
    height: auto;
}
.answerWrapper{
    composes: questionWrapper;

    padding-top: 0;
}
.titleQuestion {
    padding-right: 10px;

    font-weight: bold;
}

.textQuestion {
    overflow: hidden; /* Обрезаем все, что не помещается в область */


    text-overflow: ellipsis;
    word-wrap: break-word;
}

.titleQuantityAnswer {
    padding-top: 15px;
    padding-left: 33px;

    font-size: 14px;

    opacity: 0.5;
}

.quantityAnswer {
    font-weight: bold;
}

.wrapperButton {
   display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.wrapperButtonNext {
    composes: wrapperButton;

    margin-bottom: 35px;
}

.textRate {
    padding-top: 22px;
    padding-left: 33px;
}

.wrapperSuperRadio {
    padding-left: 33px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formClassName {
    display: inline-block;
 }