.filterButton {
    width: 85px;
    height: 36px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}
.titleButton{
    composes: titleButton from '../Packs.module.css';
}