.spanBlock {
}

.span {
  margin: 14px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0080ff;
}

.input {
  width: 276px;
  margin: 14px;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}

.pen {
}
